body{
  background-color: #eee
}
.bar{
  width: 100%;
  min-width: 1px ;
  display: flex;
  background-color:turquoise;
  border: 1px solid black;
  padding: 5px;
  justify-content: space-around;
  margin-bottom: 180px;
  font-size: 7.5px;
  font-weight: bolder;
}
.array-container{
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 85%;
  flex-direction: row;
  left: 100px;
  bottom:10%
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}